/* Fonts */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

:root {
    font-size: 16px;

    /* COLOR CODES */
    --main-color-blue: #1992D4;

    /* SVG Modifications */
    --svg-white: invert(100%);
}

body {
    background-color: #989898; /* Darker background for working at night */
    font-family: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Container */
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/* Sidebar / Aside / Dashboard */
.aside {
    background-color: var(--main-color-blue);
    height: 100vh;
    color: #ffffff;
}

.dashboard-header {
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    gap: 1.2rem;
    padding: 1rem 1.5rem;
}

.dashboard-img {
    height: 2.4rem;
    filter: var(--svg-white);
}

.dashboard-title {
    font-size: 1.4rem;
    font-weight: 500;
}

.dashboard-items {
    display: grid;
    gap: 1.2rem;
    padding: 1.8rem 2.4rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.dashboard-items > div {
    display: grid;
    grid-template-columns: 2rem auto;
    align-items: center;
    gap: 0.8rem;
}

.dashboard-items > div > img {
    height: 1.2rem;
    filter: var(--svg-white);
}

.main-content {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

/* Header */
.header {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

/* Main Content Box */
.main {
    background-color: silver;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.your-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.your-projects > p {
    background-color: aliceblue;
}

.announcement-trending {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 10px 10px 10px 0;
}

.announcement-trending > div {
    background-color: darkgray;
}